@use '../base/variables' as v;
@use '../base/mixins' as m;

.framePrincipal3{
    overflow-y: auto;
}
.contenedorPaginaHabilidades{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 2rem;
    
    @include m.telefono{
        flex-direction: row;
        overflow-y: hidden;
    }
    @include m.tablet{
        background: brown;
    }
    
    .contenedorHabilidadesIzquierdo{
        flex: 2;
        background-color: v.$blanco;
        padding: 2rem;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
   
        .contenedorHabilidadesIzquierdoTexto{
            h3,p{
                color: black;
                text-align: center;
            }
            h3{
                font-weight: 700;
                font-size: 3.5rem;
                @include m.tablet{
                    font-weight: 700;
                    font-size: 5rem;
                }
           
            }
            p{
                font-size: 2.3rem;
                @include m.tablet{
                    font-size: 2.5rem;
                }
                @include m.desktop{
                    font-size: 3rem;
                }
              
            }
        }
      
  
        .contenedorBtnRegresar{
            width: 80%;
           .btnRegresar{
                width: 100%;
           }
        }
    }
    .contenedorHabilidadesDerecho{
        flex: 3;
        display: flex;
        flex-wrap: wrap;
        
        align-items: center;


        
        

        .contenedorSkill{
            box-shadow: 8px -8px #3e3e3e; /* Valores finales de la sombra */
            transform: translateX(-8px) translateY(8px);

            
            display: flex;
            width: 100%;
            height: 14%;
            align-items: center;
            justify-content: space-around;
            background: #000;

            @include m.telefono{
                height: 12%;
            }
            cursor: pointer;
            transition: box-shadow .5s, transform .5s;

            &:hover{
                box-shadow: 0px 0px #3e3e3e; /* Valores finales de la sombra */
                transform: translateX(0) translateY(0);
                transition: box-shadow .5s, transform .5s;
            }
            .contenedorTextoSkill{
                width: 50%;
                
                h3{
                    font-weight: 700;
                  font-size: 4rem;  
                }
            }
            .contenedorImg{
                
                height: 90%;
                width: auto;
                background-color: v.$blanco;
                padding: .5rem;
                border: .5rem solid;
            }
        }


       

    }
}


@-webkit-keyframes shadow-pop-tr {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
              box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
      -webkit-transform: translateX(-8px) translateY(8px);
              transform: translateX(-8px) translateY(8px);
    }
  }
  @keyframes shadow-pop-tr {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
              box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
      -webkit-transform: translateX(-8px) translateY(8px);
              transform: translateX(-8px) translateY(8px);
    }
  }