@use '../base/variables' as v;
.btn{
    
}

.btnRegresar{
    width: 10rem;
    padding: 1rem;
    
    cursor: pointer;
    background-color: v.$azul;
    
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;


    &:hover{
        color: lighten($color: v.$azul, $amount: 20);
    }
}
